body{
    margin: 0;
}
.bg-image{
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-size: cover;
    position: relative;
    filter: blur(5px) grayscale(50%);
}
.container{
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    margin-bottom: 0;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 10px 0 gray;
    z-index: 1;
}
.tree{
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.5s;
    scale: 1.05;
    filter: grayscale(80%);
}


.container:hover .tree{
    rotate: -10deg;
    scale: 1.5;
    filter: grayscale(0);
}
.container:hover ~ .bg-image{
    filter: grayscale(0);
}
h3{
    margin: 0;
}
p{
    margin-top: 5px;
    color: #ccc;
}
.text{
    position:absolute;
    z-index: 2;
    bottom: 0;
    color: #eee;
    padding-left: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    transform: translateY(100%);
    transition: all 0.5s;
    padding-top: 10px;
}
.container:hover .text{
    transform: translateY(0px);
}

.cng{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
}
.cng span{
    background-color: rgba(0, 0, 0, 0.322);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: #eee;
    cursor: pointer;
}